{% schema %}
{
  "name": "Home Showcase",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "HELPING YOU CREATE <br/> A HOME YOU WANT <br/> TO RETURN TO."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "帰りたくなる家づくり"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "t:sections.top.blocks.buttons.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.top.blocks.buttons.settings.header.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.top.blocks.buttons.settings.button_label.default",
          "label": "t:sections.top.blocks.buttons.settings.button_label.label",
          "info": "t:sections.top.blocks.buttons.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.top.blocks.buttons.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style",
          "default": false,
          "label": "t:sections.top.blocks.buttons.settings.button_style.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Showcase",
      "category": "Custom",
      "blocks": [
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="top">
  <div class="top--content">
      <div class="top--content-left">
        <div class="top__text-container">
          <h2 class="top__heading">{{ section.settings.heading | replace: '<br/>', '<br>' }}</h2>
          <p class="top__subheading">{{ section.settings.subheading }}</p>
        </div>
        <div class="top__image-left">
          {% if section.settings.left_image %}
            <img
              src="{{ section.settings.left_image |   image_url  }}"
              alt="left image"
              loading="lazy"
              width="100%"
              height="auto"
            >
          {% endif %}
        </div>
      </div>
      <div class="top--content-right">
        <div class="top__image-right">
          {% if section.settings.right_image %}
            <img
              src="{{ section.settings.right_image | image_url }}"
              alt="right image"
              loading="lazy"
              width="100%"
              height="auto"
            >
          {% endif %}
        </div>
        <div>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'buttons' %}
                {% if block.settings.button_label != blank %}
                  <a class="button" href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
                {% endif %}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
  </div>
</div>

{% style %}
    .top{
        margin 0 auto;
    }
    .top--content{
        padding-right: 190px;
        width: 100%;
        display: flex;
        gap: 30px;
    }
    .top--content-left{
        width: 40%;
    }
    .top--content-right{
        width: 60%;
    }

    .top__text-container{
        max-width: 45%;
        justify-self: right;
    }
{% endstyle %}
